<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="\static\img\caplogo2.png" alt="logo" width="35" height="40">
        </div>
        <div class="sidebar-brand-text mx-3">CAP</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {% comment %} <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li> {% endcomment %}

    <!-- Divider -->
    {% comment %} <hr class="sidebar-divider"> {% endcomment %}

    <!-- Heading -->

    <div class="sidebar-heading">
        Coins
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="bitcoin/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Bitcoin</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="cardano/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Cardano</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="ethereum/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Ethereum</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="doge/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Doge</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="helium/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Helium</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-cog"></i>
            <span>Litecoin</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="polkadot/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Polkadot</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="shibainu/">
            <i class="fas fa-fw fa-cog"></i>
            <span>ShibaInu</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="tether/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tether</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  

</ul>