// Custom Card Styling

.card{
    float:left;
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 50px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(54, 54, 54);
    // background-image: linear-gradient(to right, rgb(54, 54, 54), #3c7be7);
}

.card-body{
  font-size:12px;
  letter-spacing: .5px;
  font-family: 'Lato', sans-serif;
  // font-weight: bold;
}