// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  background: #2d2d2d;
}


h1 {
  font-family:'Lato', sans-serif;
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  color: white;
}

h2 {
font-family:'Lato',
sans-serif;
font-size: 2.5rem;
font-weight: bold;
line-height: 1.5;
letter-spacing: 2px;
color: white;
}

h4 {
  font-family: 'Lato',
  sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 1.7rem;
  margin-bottom: 0;
  color:rgb(255, 255, 255);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

h5 {
    font-family: 'Lato',
    sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 1.4rem;
    margin-bottom: 0;
    color:rgb(255, 255, 255);
}

h6 {
  font-family: 'Lato',
    sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1.0rem;
  margin-bottom: 0;
  background:#3c7be7;
  // background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(66, 66, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


// //cap bulletpoints
// ul {
//   list-style-image: url('/static/img/capthumb.png');
// }

li {
  list-style: none;
}

li::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url('/static/img/capthumb.png');
}


// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: #111111; //secondary
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

//main-container
.container-fluid {
  padding-top: 30px;
}

.heading-container {
  padding-left: 120px;
  padding-right: 120px;
}

.history-container {
  color:rgb(152, 150, 150);
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

//carousel
.coin-slide{
  padding-top:80px;
}

//bottom part of homepage
.bottom-hp {
  padding-top:200px;
}



//VIEW TEXT
.View {
  padding: 2em 5em;
  padding-top: 0px;
  padding-bottom: 0px;
  font: bold 40px/50px 'Lato', sans-serif;
  color: #999;
  display: flex;
  justify-content: center;
}

.View p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  font-family: 'Lato',
    sans-serif;
  letter-spacing: 1.5px;
  font-size: 2.3rem;
  color: rgb(183, 182, 182);
}

.View b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}

.View .innerView {
  display: inline-block;
  color: #3c7be7;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 5s;
  
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }
}

@-moz-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }
}

@-o-keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -50px;
  }

  40% {
    top: -100px;
  }

  60% {
    top: -150px;
  }
}


//added padding between items on navbar
.navbar-nav>li {
  padding-left: 7px;
}


//FOR SUBMENU!!!!
@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }

  //color of items
  .dropdown-item {
    color: white;
  }

  .drop-item a:hover {
    background-color: pink;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu>li:hover {
    background-color: #222222 !important;
  }

  .dropdown-menu>li:hover>.submenu {
    display: block;
  }
}

//adding margin to cap img
img {
  margin-right: 5px;
}

//changes color of coin name & includes border
.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 40px;
  border-left: 1px solid grey;
}

//change size of padding inside of each link
.nav-link {
  padding: 0rem 1rem;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: grey;
}

//links
a {
  &:focus {
    outline: none;
  }
}


// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
