{% load static %}
<!-- {% load staticfiles %} -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CAP</title>
    <link rel="shortcut icon" type="image/png" href ="static/img/capLogo2.png">


    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'partialsBitcoinHistory/_sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'partialsBitcoinHistory/_topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h2 class = "BitcoinHeader" color="text">
                        <img src="\static\img\bitcoinColor.png" alt="logo" width="30" height="33"> 
                        Bitcoin
                        <span style="font-size: 13px;"> BTC</span>
                    </h2>
                    
                    
                    <!--Historic Tables Location-->
                    <div class = "container-fluid">
                    <!--Crypto Terms-->
                    <div class="row">
                        <div class="col-sm-5 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <center><h5 class="card-title">Crypto Terms</h5></center>
                                            <b style="color:white;">OPEN:</b> The price at which a cryptocurrency opens at a time period.
                                            <br><b style="color:white;">CLOSE:</b> The price at which a cryptocurrency closes at a time period.
                                            <br><b style="color:white;">ADJUSTED CLOSE:</b> The closing price after adjustments for all applicable splits and dividend distributions.
                                            <br><b style="color:white;">HIGH:</b> The highest price of a cryptocurrency of the previous session of 24 hours.
                                            <br><b style="color:white;">LOW:</b> The lowest price of a cryptocurrency of the previous session of 24 hours.
                                            <br><b style="color:white;">VOLUME:</b> The number of units traded in a market during a given time. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                        <center>
                            <h2>Historical Data</h2>
                        </center>

                        <center>
                            <div class="history-container">
                                {%block content%}
                                {% endblock %}
                            </div>
                        </center>
                <!-- End of Main Content -->

                <!-- Footer -->
                    {% include 'partialsBitcoinHistory/_footer.html' %}
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>