<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
<div class="topnav-img rotate-n-15">
    <a class="dropdown-item" href=""><img src="\static\img\capLogo2.png" alt="logo" width="65" height="68"></a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="main_nav">

<ul class="navbar-nav">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Coins</a>
    <ul class="dropdown-menu bg-secondary">
	<li><a class="dropdown-item"><img src="\static\img\bitcoinColor.png" alt="logo" width="23" height="25"> Bitcoin</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="bitcoinGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="bitcoinHistory/"> History</a></li>
		</ul>
	</li>

    <li><a class="dropdown-item"><img src="\static\img\cardanoColor.png" alt="logo" width="23" height="25"> Cardano</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="cardanoGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="cardanoHistory"> History</a></li>
		</ul>
	</li>

    <li><a class="dropdown-item"><img src="\static\img\dogeColor.png" alt="logo" width="23" height="25"> Doge</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="dogeGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="dogeHistory/"> History</a></li>
		</ul>
	</li>

    <li><a class="dropdown-item"><img src="\static\img\ethereumBlack.png" alt="logo" width="15" height="25">  Ethereum</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="ethereumGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="ethereumHistory/"> History</a></li>
		</ul>
	</li>


    <li><a class="dropdown-item"><img src="\static\img\heliumColor.png" alt="logo" width="23" height="25"> Helium</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="heliumGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="heliumHistory/"> History</a></li>
		</ul>
	</li>


    <li><a class="dropdown-item"><img src="\static\img\litecoinColor.png" alt="logo" width="23" height="25"> Litecoin</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="litecoinGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="litecoinHistory/"> History</a></li>
		</ul>
	</li>

    <li><a class="dropdown-item"><img src="\static\img\polkadotColor.png" alt="logo" width="23" height="25"> Polkadot</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="polkadotGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="polkadotHistory/"> History</a></li>
		</ul>
	</li>

    <li><a class="dropdown-item"><img src="\static\img\shibainuColor.png" alt="logo" width="23" height="25"> Shiba Inu</a>
		<ul class="submenu dropdown-menu bg-secondary">
		<li><a class="dropdown-item" href="shibainuGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="shibainuHistory/"> History</a></li>
		</ul>
	</li>

    <li> <a class="dropdown-item"><img src="\static\img\tetherColor.png" alt="logo" width="23" height="25"> Tether</a>
		<ul class="submenu dropdown-menu bg-primary">
		<li><a class="dropdown-item" href="tetherGraphs/"> Graphs</a></li>
		<li><a class="dropdown-item" href="tetherHistory/"> History</a></li>
		</ul>
	</li>
    </ul>
</li>
</ul>
</div> <!-- navbar-collapse.// -->
</nav>

</div>
</nav> 
